body {
    font-size: 24pt !important;
    font-family:"Reenie Beanie",arial,sans-serif !important;
}

.arrow {
    position: absolute;
    right: 14px;
}

.addCard {
    position: absolute;
    right: 56px;
}

.padding {
  padding-left: 10% !important;
  padding-right: 10% !important;
}


.cards {
    margin-top: 40px;
    position: absolute;
    width: 200px;
    height: 160px;
    background-color: #ffd998;
}