html {
    height: 100%;
}

body {
    font-size: 24pt !important;
    font-family: "Reenie Beanie", arial, sans-serif !important;
}

.arrow {
    position: absolute;
    right: 14px;
}
.hidden{
    display: none !important;
}
.addCard {
    position: absolute;
    right: 56px;
}

.padding {
    padding-left: 10% !important;
    padding-right: 10% !important;
}

.card {
    border-radius: 1px !important;
    box-shadow: 2px 5px 5px gray;
    padding: 0 15px 0 15px;
    margin-bottom: 5px;
    height: 15rem;
}

.nav-link {
    font-weight: bold;
    font-size: 1.4em;
}

.board-container {
    margin-top: 50px;
}

.board-header {
    font-size: 32pt;
}

.board-header, .board-details-header, .nav-link, .login-container, .signuphref, .registration-container {
    font-family: 'Questrial', sans-serif;
}

.board-details-header {
    font-size: 20pt;
}

#newCardBtn, #saveBtn {
    font-weight: bold !important;
}

.board-details-container {
    border-top: 1px solid #242424;
    padding: 10px 0 10px 0;
}

.board-content {
    background-color: #d0cbcb;
    border-radius: 5px;
}

body {
    background-color: #f0f0f0 !important;
}

span {
    font-family: "Reenie Beanie", arial, sans-serif !important;
    font-size: 24pt !important;
}

#exampleModalCenter, #newcard {
    font-family: 'Questrial', sans-serif !important;
    font-size: 0.5em !important;
}

#addBoard {
    font-family: 'Questrial', sans-serif !important;
}

.signuphref, .signuphref:hover, .signuphref:active, .signuphref:visited {
    text-decoration: none !important;
}

.login-content {
    float: none !important;
    margin: 0 auto !important;
}

form {
    width: 40%;
    padding-top: 20%;
    padding-bottom: auto;
    margin: 0 auto;
}

#logoutBtn a {
    color: white !important;
    text-decoration: none !important;
    font-family: 'Questrial', sans-serif !important;
}

.card-container {
    min-height: 100%;
}

.editBtn {
    padding-left: 90%;
    font-size: 50%;
}

.fa-edit:before {
    align-items: right;
    cursor: pointer;
}

div[data-statusid$='1'] .card {
    background: rgb(112, 252, 255);
}

div[data-statusid$='2'] .card {
    background: rgb(254, 255, 156);
}

div[data-statusid$='3'] .card {
    background: rgb(255, 126, 185);
}

div[data-statusid$='4'] .card {
    background: rgb(205, 246, 112);
}