body {
    font-size: 24pt !important;
    font-family:"Reenie Beanie",arial,sans-serif !important;
}

.arrow {
    position: absolute;
    right: 14px;
}

.addCard {
    position: absolute;
    right: 56px;
}